
<ol>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Book', books_path %></li>
    <li><%= link_to 'Author', authors_path %></li>
    <li><%= link_to 'Supplier', suppliers_path %></li>
    <li><%= link_to 'Order', orders_path %></li>
    <li><%= link_to 'Review', reviews_path %></li>
    <li><%= link_to 'Customer', customers_path %></li>
</ol>

