<div id="<%= dom_id customer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= customer.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= customer.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= customer.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visits:</strong>
    <%= customer.visits %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Orders count:</strong>
    <%= customer.orders_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lock version:</strong>
    <%= customer.lock_version %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this customer", customer, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this customer', edit_customer_path(customer), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
